.task{
    margin-bottom: 1rem;
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}


.task span {
    color: black;
}

.task i{
    color: black;
}

.task.completed label{
    background-color: rgba(122, 216, 40, 0.5);
}

.task.completed span{
    text-decoration: line-through;
    display: inline-block;
}


.task label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    background: #f3f3f3;
}


.ToDoList_task-icons i{
    transition: .3s;
    padding: 1rem;
}
.ToDoList_task-icons_delete:hover{
    background-color: red;
    color: white;
}
.ToDOList_task-icons_edit:hover{
    background-color: #f4f520;
    color: white
}
.ToDoList_task-icons_save:hover{
    background-color: #f4f520;
    color: white
}
.ToDoList_task-icons{
    display: flex;
}
.ToDoList_task-icons i {
    padding: 1rem;
    cursor: pointer;
}

